/**--------RESET----------*/
* {
    padding: 0;
    margin: 0;
}



/**------HEADER------*/

.navbar-color {
    background-color: #e0b279a9;
}


















/**---------MAIN--------*/
















/**--------FOOTER--------*/








